.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform:  translateX(0);
}

.hid1 {
    opacity: 0;
    transform: translateY(200%);
    transition: all 1s;
}

.show1 {
    opacity: 1;
    transform:  translateY(0);
}

.hidExtra {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.showExtra {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hiddenE {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s;
}

.showE {
    opacity: 1;
    filter: blur(0);
    transform:  translateX(0);
}